<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappy Bird</title>
    <link rel="stylesheet" href="/stylesheets/style_flappybird.css">

</head>
<body>
   <canvas id="canvas1"></canvas>
   <script src="/javascripts/flappybird/bird.js"></script>
   <script src="/javascripts/flappybird/particles.js"></script>
   <script src="/javascripts/flappybird/obstacles.js"></script>
   <script src="/javascripts/flappybird/main.js"></script>

</body>
</html>
