<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ZabbixTool</title>
</head>
<body>
   <div>
        <h2>ZabbixTool</h2>
		<p><textarea name="textarea" class="form-control"></textarea></p>
		<p>
		<input type="button" name="copy" value="copy" class=form-control">
		<input type="button" name="clear"value="clear" class=form-control">
		<input type="button" name="github" value="github" class=form-control">
		<p>
		<p>
		<input type="button" name="gf_machines" value="GF Machines" class=form-control"></p>
		<p>
		<input type="button" name="gf_procurement" value="GF Procurement" class=form-control"></p>
		<p>
		<input type="button" name="gf_deleted" value="GF Deleted" class=form-control"></p>
		<p>
		<input type="button" name="logzio" value="Logzio(uuid)" class=form-control"></p>
		<p>
		<input type="button" name="" value="" class=form-control"></p>
		<p>
		<input type="button" name="scraping" value="Scraping" class=form-control"></p>
		<p>
		<input type="button" name="" value="" class=form-control"></p>
		<p>
		<input type="button" name="add_jira_card" value="Add Jira Card" class=form-control"></p>
		<p>
		<input type="button" name="add_outage" value="Add Outage to Jira" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>
		<p>
		<input type="button" name="github" value="github" class=form-control"></p>

   </div> 
</body>
</html>


